<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>


  <h1><%= car.inv_make %> <%= car.inv_model %></h1>
  <img src="<%= car.inv_image %>" alt="<%= car.inv_make %> <%= car.inv_model %>">
  <p>Price: <%= car.inv_price %></p>
  <p>Description: <%= car.inv_description %></p>
  <p>Year: <%= car.inv_year %></p>
  <p>Mileage: <%= car.inv_miles %> miles</p>
  <p>Color: <%= car.inv_color %></p>

</body>
</html>
